<?xml version="1.0" encoding="utf-8"?>
<!--https://docs.microsoft.com/en-us/azure/application-insights/app-insights-configuration-with-applicationinsights-config-->
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <InstrumentationKey>7bac9aba-4af0-46c0-81a4-92dde91a840d</InstrumentationKey>
  <TelemetryInitializers>
    <!--Parses http dependencies into well-known types like Azure Storage, ServiceBus, DocumentDb, Iot, etc.-->
    <Add Type="Microsoft.ApplicationInsights.DependencyCollector.HttpDependenciesParsingTelemetryInitializer, Microsoft.AI.DependencyCollector"/>
    <!--Adds operation_id, operation_parent_id, operation_name from the Activity.Current context -->
    <Add Type="Shared.ServiceFabric.ApplicationInsights.ActivityContextTelemetryInitializer, Shared.ServiceFabric.ApplicationInsights"/>
    <!--Adds service fabric application context to the customDimensions ServiceFabric.{ApplicationName, ApplicationTypeName, NodeName}-->
    <Add Type="Shared.ServiceFabric.ApplicationInsights.ApplicationContextTelemetryInitializer, Shared.ServiceFabric.ApplicationInsights"/>
    <!--Adds service fabric service context to the customDimensions ServiceFabric.{ServiceTypeName, ServiceName, PartitionId, InstanceId, ReplicaId}-->
    <Add Type="Shared.ServiceFabric.ApplicationInsights.ServiceContextTelemetryInitializer, Shared.ServiceFabric.ApplicationInsights"/>
    <!--Adds clound_RoleName with the service fabric service service address (the same as customDimensions.ServiceFabric.ServiceName)-->
    <Add Type="Shared.ServiceFabric.ApplicationInsights.ComponentContextTelemetryInitializer, Shared.ServiceFabric.ApplicationInsights"/>
  </TelemetryInitializers>
  <TelemetryModules>
    <!--Collects telemetry about calls your app makes to databases and external services and databases.-->
    <Add Type="Microsoft.ApplicationInsights.DependencyCollector.DependencyTrackingTelemetryModule, Microsoft.AI.DependencyCollector">
      <ExcludeComponentCorrelationHttpHeadersOnDomains>
        <!-- 
        Requests to the following hostnames will not be modified by adding correlation headers.         
        Add entries here to exclude additional hostnames.
        NOTE: this configuration will be lost upon NuGet upgrade.
        -->
        <Add>core.windows.net</Add>
        <Add>core.chinacloudapi.cn</Add>
        <Add>core.cloudapi.de</Add>
        <Add>core.usgovcloudapi.net</Add>
        <Add>localhost</Add>
        <Add>127.0.0.1</Add>
      </ExcludeComponentCorrelationHttpHeadersOnDomains>
      <IncludeDiagnosticSourceActivities>
        <Add>Microsoft.Azure.EventHubs</Add>
        <Add>Microsoft.Azure.ServiceBus</Add>
      </IncludeDiagnosticSourceActivities>
    </Add>
    <Add Type="Microsoft.ApplicationInsights.EventSourceListener.EventSourceTelemetryModule, Microsoft.ApplicationInsights.EventSourceListener">
      <Sources>
        <Add Name="Microsoft-ServiceFabric-Services" Level="Informational" />
        <Add Name="Microsoft-ServiceFabric-Services" Level="Error" />
        <Add Name="Microsoft-ServiceFabric" Level="Informational" />
        <Add Name="Microsoft-ServiceFabric" Level="Error" />
        <Add Name="SFLoggingSpike" Level="Informational" />
        <!--Informational, Error, Warning, Critical, Verbose, LogAlways-->
      </Sources>
    </Add>
    <!--Does not work! Tracks unhandled exceptions for worker roles, windows services, and console applications.-->
    <!--<Add Type="Microsoft.ApplicationInsights.WindowsServer.UnhandledExceptionTelemetryModule, Microsoft.AI.WindowsServer"/>-->
    <!--Does not work! Tracks unobserved task exceptions.-->
    <!--<Add Type="Microsoft.ApplicationInsights.WindowsServer.UnobservedExceptionTelemetryModule, Microsoft.AI.WindowsServer"/>-->
  </TelemetryModules>
  <!--Provides a telemetry channel to Application Insights Windows Server SDK that will preserve telemetry in offline scenarios-->
  <TelemetryChannel Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.ServerTelemetryChannel, Microsoft.AI.ServerTelemetryChannel">
	  <DeveloperMode>true</DeveloperMode>
    <!--maximum telemetry batching interval. Once the interval expires, TelemetryChannel serializes the accumulated telemetry items for transmission-->
    <MaxTelemetryBufferDelay>00:00:05</MaxTelemetryBufferDelay>
  </TelemetryChannel>
</ApplicationInsights>

<!--
EventSources such as 

Application Insights Queries (reference: https://docs.loganalytics.io/docs/Language-Reference):
| union withsource=table dependencies, traces
//| where operation_Id == "41b266e1-46ed53678754b1ae"
| project table, 
          cloud_RoleName,
          timestamp, id,
          source_or_target = coalesce(source, target), 
          url_or_data = replace("fabric:/SFLoggingSpike/", "", coalesce(url, data)), 
          name, operation_Name, customDimensions, 
          operation_Id , operation_ParentId, 
          duration, success, resultCode,
          message
| order by timestamp desc
-->