<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric" version="6.1.467" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data" version="3.0.467" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="3.0.467" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services" version="3.0.467" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net461" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net461" developmentDependency="true" />
</packages>